<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Own CSS -->
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <title>What is one thing that bothers you that we can work on together?</title>
  </head>
  <body>
    <div class="flex flex-wrap px-4 justify-center">
      <div class="flex flex-col justify-center align-middle items-center">
        <p class="block text-black text-3xl font-bold my-10">
          What is one thing that bothers you that we can work on together?
        </p>
        <form id="submit-post" class="w-full max-w-lg" method="post">
          <div class="md:flex md:items-center mb-3">
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="inline-full-name"
              type="text"
              placeholder="Enter your comments here"
              name="post"
              value="{post.post}"
              onChange="{updatePost}"
              rows="4"
            ></textarea>
          </div>
          <button
            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mb-8"
            type="submit"
          >
            Post!
          </button>
        </form>
      </div>
      <div class="flex flex-wrap gap-5 justify-center">
        {{#block "content"}}{{/block}}
      </div>
    </div>
  </body>
</html>
